<div class="list-group">
    <div class="list-group-item menu-heading">Account management</div>
    @Html.ActionLink("Details", "Index", "Details", new { area = "Account" }, new { @class = "list-group-item" })
    @Html.ActionLink("Email", "Index", "Email", new { area = "Account" }, new { @class = "list-group-item" })
    @Html.ActionLink("Settings", "Index", "Settings", new { area = "Account" }, new { @class = "list-group-item" })
</div>