@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="page-body">
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-center" style="margin-bottom: 30px;">@ViewBag.Title</h3>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <p>
                    Caliche ipsum Jesusiar dolor Chololas sit Quiacercito amet, Coquiar consectetur Julón 
                    adipiscing Juelgo elit. 
                    Bolado Quare Uñudo attende, Jarana quaeso. Cuña At Lombriciento coluit Jumba ipse
                     Cojonudo amicitias.
                </p>
                <p>
                    Caliche ipsum Jesusiar dolor Chololas sit Quiacercito amet, Coquiar consectetur Julón
                    adipiscing Juelgo elit. 
                </p>
                <p>
                    Caliche ipsum Jesusiar dolor Chololas sit Quiacercito amet, Coquiar consectetur Julón 
                    adipiscing Juelgo elit. Bolado Quare Uñudo attende, Jarana quaeso. Cuña At Lombriciento 
                    coluit Jumba ipse Cojonudo amicitias.
                     Mono Sed Bichada quot Chindondo homines, Empacho 
                    tot Cuica sententiae; Agilamiento Duo Cabieron Reges: Aguambado constructio Engatusar 
                    interrete. Paila Quamquam Broza tu Pieses hanc Chorqueto copiosiorem Chimpinilla etiam 
                    Jetudo soles Chaparro dicere.
                </p>
                <p>
                    Caliche ipsum Jesusiar dolor Chololas sit Quiacercito amet, Coquiar consectetur Julón
                    adipiscing Juelgo elit. Bolado Quare Uñudo attende, Jarana quaeso. Cuña At Lombriciento
                    coluit Jumba ipse Cojonudo amicitias. 
                    Mono Sed Bichada quot Chindondo homines, Empacho
                    tot Cuica sententiae; Agilamiento Duo Cabieron Reges: Aguambado constructio Engatusar
                    interrete. Paila Quamquam Broza tu Pieses hanc Chorqueto copiosiorem Chimpinilla etiam
                    Jetudo soles Chaparro dicere.
                </p>
                <p>
                    Caliche ipsum Jesusiar dolor Chololas sit Quiacercito amet, Coquiar consectetur Julón
                    adipiscing Juelgo elit. Bolado Quare Uñudo attende, Jarana quaeso. Cuña At Lombriciento
                    coluit Jumba ipse Cojonudo amicitias. 
                    Mono Sed Bichada quot Chindondo homines, Empacho
                    tot Cuica sententiae; Agilamiento Duo Cabieron Reges: Aguambado constructio Engatusar
                    interrete. Paila Quamquam Broza tu Pieses hanc Chorqueto copiosiorem Chimpinilla etiam
                    Jetudo soles Chaparro dicere.
                </p>
            </div>
            <div class="col-md-4">
                <div class="hidden-xs hidden-sm pull-right">
                   <!-- <img src="~/Images/About/about-1.jpg" alt="Car image" class="img-responsive" style="height:200px; margin-bottom:50px; border-radius: 5px;" />-->
                    <img src="~/Images/About/about-2.jpg" alt="Car image" class="img-responsive" style="height:200px; margin-bottom:50px; border-radius: 5px;" />
                    <img src="~/Images/About/about-3.jpg" alt="Car image" class="img-responsive" style="height:200px; margin-bottom:50px; border-radius: 5px;" />
                </div>
            </div>
        </div>


    </div>
</div>