<div class="list-group">
    <div class="list-group-item menu-heading">My Rents</div>
    @Html.ActionLink("Rents", "Index", "Rents", new { area = "MyRents" }, new { @class = "list-group-item" })
    @Html.ActionLink("Reservations", "Index", "Reservations", new { area = "MyRents" }, new { @class = "list-group-item" })
    @Html.ActionLink("Bills", "Index", "Bills", new { area = "MyRents" }, new { @class = "list-group-item" })
</div>